@media screen and (min-width: 768px) {
  .nav ul {
    display: flex;
    justify-content: flex-start;
  }

  .nav li {
    flex: 1 1 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background: transparent;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-left {
  display: flex;
}

.nav-left li {
  display: flex;
  align-items: center;
  padding: 0px;
  color: #f0ebe8;
}

.nav-left li a {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: #f0ebe8;
  display: block;
  padding: 24px;
}

.nav-right {
  display: flex;
  flex-shrink: 0;
  width: 40%;
}

.nav-right li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-right a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #e6e0da;
  display: block;
  padding: 24px;
  position: relative;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-out;
}

.nav-right a:hover,
.nav-right a:focus,
.nav-right a:active {
  color: #61887a;
}

.nav-right a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: floralwhite;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav-right a:active::before {
  background-color: floralwhite;
}

.nav-right a:hover::before,
.nav-right a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  width: 16%;
}

.welcome {
  color: #f0ebe8;
  margin-top: 64px;
  position: relative;
}

.welcome p {
  font-size: 22px;
}

.welcome-greeting {
  left: -100px;
  position: absolute;
  -webkit-animation: slide 0.4s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.6s forwards;
  animation-delay: 0.4s;
  top: 32px;
  margin: 0px;
}

.welcome-username {
  left: -100px;
  position: absolute;
  -webkit-animation: slide 0.4s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.6s forwards;
  animation-delay: 0.4s;
  top: 64px;
  margin: 0px;
}

@-webkit-keyframes slide {
  100% {
    left: 0px;
  }
}

@keyframes slide {
  100% {
    left: 0px;
  }
}

.icon {
  color: #383838;
}
